.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	gap: 20px;
}

h1 {
	color: white;
	font-size: 38px;
	margin: auto;
}

.cadastro-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(145, 124, 221);
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
	max-width: 50%;
	width: 500px;
	margin-bottom: 20px;
}

.cadastro-form input {
	background-color: rgb(134, 100, 255);
	color: rgb(255, 255, 255);
	outline: 1px solid rgb(167, 143, 255);
	padding: 3px 10px;
	border-radius: 10px;
	border: none;
	font-size: 16px;

	&::placeholder {
		color: rgb(214, 214, 214);
		opacity: 0.7;
	}
}

.cadastro-form button {
	background-color: rgb(236, 236, 236);
	border-radius: 30px;
	height: 40px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	color: rgb(90, 44, 255);
	font-size: 16px;

	&:hover {
		scale: 1.01;
	}
}

.user-card {
	color: #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(145, 124, 221);
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
	max-width: 50%;
	width: 500px;
}

.delete-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: rgb(255, 20, 20);
	font-size: 20px;

	& :hover {
		color: rgb(255, 40, 40);
		scale: 1.1;
	}
}