.chat {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-area {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 95%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #DDD;
    box-shadow: 0 0 50px #444;
}

.conversation {
    height: 100%;
    padding: 5px 20px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.conversation::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}

.conversation::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #aaaaaabd;
    border-radius: 3px;
}

.conversation::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

.message-area {
    margin-top: 10px;
}

.my-message-area {
    text-align: right;
}

.other-message-area {
    text-align: left;
}

.messageText {
    line-height: 20px;
    text-align: left;
    max-width: 70%;
    display: inline-block;
    padding: 5px 35px 5px 10px;
    border-radius: 5px;
    white-space-collapse: break-spaces;
    color: #eee;
}

.messageImage {
    line-height: 20px;
    text-align: left;
    max-width: 70%;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    white-space-collapse: break-spaces;
    color: #eee;
}

.my-message {
    background-color: #452285;
}

.other-message {
    background-color: #334147;
}

.pasted-message {
    margin-top: 1px;
}

.author {
    height: 20px;
    margin-top: -6px;
    font-size: 13px;
    font-weight: 500;
    color: #FFBC38;
}

.my-author {
    display: none;
}

.other-author {
    background-color: transparent;
}

.author-pasted {
    display: none;
}

.valueText{
    word-break: break-word;
    font-size: 14px;
}

.valueImage{
    width: 105%;
}

.timeText {
    font-size: 10px;
    height: 13px;
    margin: -15px -32px 0 0;
    text-align: right;
    color: #eeeeeed6;
}

.timeImage {
    font-size: 12px;
    height: 13px;
    margin: -22px 2px 0 0;
    padding-bottom: 18px;
    text-align: right;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(65, 65, 65);
}

.input-area {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: #444;
}

.displayOption {
    position: absolute;
    right: calc(100% - 182px);
    bottom: calc(100% + 10px);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
    background-color: #444;
    box-shadow: 1px 1px 5px #333;
}

.delete-button {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #3c3c3c;
}

.delete-button span {
    font-size: 12px;
}

.delete-icon {
    font-size: 20px;
    color: #eee;
}

.delete-icon:active {
    scale: 0.9;
    color: #999;
}

.option-icon {
    width: 31px;
    font-size: 30px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 19px;
    margin-bottom: 12px;
    cursor: pointer;
}

.send-input {
    width: 90%;
    min-height: 35px;
    max-height: 268px;
    border-radius: 8px;
    margin: 10px 5px;
    font-size: 16px;
    padding: 8px 20px;
    line-height: 18px;
    border: none;
    resize:  none;
    overflow-y: auto;
    color: #eee;
    background-color: #444;
    box-shadow: inset 0 0 5px #111;
}

.send-input:focus {
    outline: none;
}

.send-input::placeholder {
    color: #eee;
}

.send-input::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

.send-input::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #888;
    border-radius: 3px;
}

.send-input::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

.send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    border: none;
    margin-bottom: 17px;
    background-color: transparent;
}

.send-icon {
    font-size: 25px;
    color: #eee;
}

@media screen and (max-width: 910px) {

    .chat-area {
        width: 98%;
    }
}

@media screen and (max-width: 520px) {

    .chat-area {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .message {
        max-width: 80%;
    }
}