@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
   width: 0;
}

.fieldInput{
   margin-bottom: 30px;
}

.fieldInput input{
   margin-left: 10px;
   border-bottom: 2px solid #333;
   background-color: transparent;
   padding: 3px;
}

.fieldInput select{
   margin-left: 10px;
   border-bottom: 2px solid #333;
   background-color: transparent;
   padding: 3px;
}