* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #eee;
  background: radial-gradient(125% 125% at 50% 10%, #eee 40%, rgb(80, 30, 255) 100%);
  z-index: -10;
  overflow-x: hidden;
  padding-bottom: 50px;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(142, 111, 255);
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}