@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #1e1f2b;
}
h1{
    font-size: 40px;
    text-align: center;
    padding: 50px 0px 30px 0px;
    color: #fff;

}
section{
    background-color: #fff;
    width: 600px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 50px rgba(111, 0, 255, 0.5), 0px 0px 100px rgba(111, 0, 255);
    padding: 10px;
}
p{
    padding: 30px 10px 0px 10px;
}
#butao{
    margin: 20px 10px;
    padding: 3px;
}
#res{
    padding: 10px;
}
footer{
    font-style: italic;
    text-align: center;
    padding: 15px;
    color: #fff;
}

@media screen and (max-width: 640px){
    section{
        width: 380px;
    }
}